html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'roboto';
}

.loader {
    height: 100%;
    background: white;
    margin: auto;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 4;
    animation: loader 2s linear;
    visibility: hidden;
}

.loaderSpin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 5;
    border: 10px solid rgba(255, 255, 255, 0);;
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #FF79DA;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: rotate 2s linear;
    visibility: hidden;
}

.loaderForks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 5;
    visibility: hidden;
}

.loaderForks .ustensil {
    margin: auto;
    font-size: 25px;
    color: #353535;
    animation: forks 2s linear;
}

@keyframes rotate {
    0% {
        visibility: visible;
        opacity: 1;
        transform: rotate(0deg);
    }
    75% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        visibility: visible;
        opacity: 0.9;
    }
    75% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes forks {
    0% {
        visibility: visible;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

h1 {
    font-weight: bolder;
}

header {
    padding: 15px;
}

.shadow {
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}
.headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.headerLogo a{
    position: absolute;
    left: 30px;
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 160px;
}

.section-location {
    background: #EAEAEA;
    box-shadow: inset 0px 5px 5px 0px #dddddd;
}

.locationText {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-weight:bold;
    font-size: 16px;
    font-family: 'roboto';
}

.section-title {
    padding: 40px 0px 40px 0px;
    background: #F7F7F7;
}

.centerSectionTitle h1, .centerSectionTitle p, .btn{
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    margin: auto;
}

.centerSectionTitle h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    width: 75%;
}

.centerSectionTitle p {
    font-size: 18px;
    line-height: 21px;
    width: 80%;
}

.centerSectionTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 175px;
    margin-top: 20px;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    padding: 15px 15px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.btnText {
    font-size: 16px;
    color: white;
}

.btn:hover {
    opacity: 0.9;
    transition: 300ms;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.section-option {
    background-color: white;
    padding-top: 20px;
}

.section-option h1{
    padding-left: 20px; padding-top: 10px;
}

.groupOption {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-right: 25px; padding-left: 35px;
    padding-bottom: 60px; padding-top: 15px;
    font-family: 'roboto';
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 10px 30px;
}

.textOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.textOption p{
    font-weight: bold;
}

.textOption i {
    font-size: 18px;
    color: #7E7E7E;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateX(-65px);
    color: white;
    background-color:#9356DC ;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    font-size: 14px;
}

.option:hover {
    opacity: 0.9;
    transition: 300ms;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.section-restaurants {
    background: #F7F7F7;
    padding: 20px;
    padding-bottom: 70px;
}

.restaurantsCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 25px;
}

.groupCard {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.containerCard {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;
}

.card img {
    object-fit: cover;
    height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
}

.contentCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    height: 50px;    
}

.textCard {
    line-height: 10px;
    font-family: 'roboto';
}

.textCard h2{
    font-size: 20px;
}

.textCard p {
    font-size: 18px;
}

.imgText {

    margin: 0 auto;
    color: #008766;;
    left: 70%;
    border-radius: 2px;
    background-color: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'roboto';
}

.new1 {
    height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-position-y: center;
    background-size: cover;
}

.new2 {
    height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-position-y: center;
    background-size: cover;
}

.textNew {
    display: flex;
    justify-content: flex-end;
}

.textNew p {
    width: 60px;
    margin-right: 15px;
    text-align: center;
    color: #008766;
    border-radius: 2px;
    background-color: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'roboto';
}

footer {
    background-color: #353535;
    padding: 30px;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1px;
    color: white;
    font-size: 18px;
}

.group h3 {
    font-family: 'Shrikhand';
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 30px;
    cursor: pointer;
}

.textList {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.groupList a {
    text-decoration: none;
    color: white;
}

.partner {
    margin-right: 10px;
}

.ustensil {
    margin-right: 18px;
}

/******** pages **********/ 


span {
    border-bottom:3px solid #99E2D0;
    padding-bottom: 5px;
}

.backImg {
    position: relative;
    z-index: 1;
}

.backImg img{
    object-fit: cover;
    height: 275px;
    width: 100%;
}

.section-menu {
    position: relative;
    z-index: 2;
    margin-top: -60px;
    background-color: #F7F7F7;
    border-radius: 40px 40px 0px 0px;
    padding: 15px 15px;
}

.section-menu h2 {
    font-family: 'roboto';
    font-size: 16px;
    font-weight: 300;
}

.titleHeart {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.titleHeart h1 {
    font-family: 'Shrikhand';
    font-size: 28px;
    font-weight: lighter;
}

.titleHeart i {
    font-size: 27px;
}

.formule {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.menu {
    position: relative;
    display: flex;
    justify-content:space-between;
    background-color: white;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding-right: 10px; padding-left: 10px;
    font-family: 'Roboto'; 
    gap: 15px;
    overflow: hidden;
}

.menuText {
    line-height: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.menuText h3 {
    font-size: 16px;
    padding-top: 5px; padding-bottom: 7px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menuText p {
    font-size: 14px;
    padding-top: 5px; padding-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price {
    display: flex;
    align-items: end;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    
}

.commandBtn {
    margin-bottom: 40px;
}

.heart {
    padding-right: 45px;
    font-size: 27px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.heart i{
    position: absolute;
    
}

.heartFull {
    opacity: 0;
    transition-property: all;
    transition-duration: 400ms;
    color: rgba(255, 255, 255,0);
}

.heartFull:hover {
    opacity: 1;
    background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.menu:hover .check {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 0.3s ease-out;
    transform-origin: right;
}


.menu:hover .price {
    padding-right: 60px;
    transition: 0.3s ease-out;
  }

.check {
    display: none;
    position: absolute;
    background-color: #99E2D0;
    border-radius: 0 15px 15px 0;
    right: 0px;
    padding: 0 20px;
    height: 100%;
    font-size: 20px;
    color: white;
  }

  @keyframes slide {
    0% {
      transform: scaleX(0); 
    }
    100% {
      transform: scaleX(1);
    }
  }


  .apparition {
    animation: opacity 1s both;
  }

  #dish1 {
    animation-delay: 0.1s;
  }

  #dish2 {
    animation-delay: 0.2s;
  }

  #dish3 {
    animation-delay: 0.3s;
  }

  #dish4 {
    animation-delay: 0.6s;
  }

  #dish5 {
    animation-delay: 0.7s;
  }

  #dish6 {
    animation-delay: 0.8s;
  }

  #dish7 {
    animation-delay: 1.1s;
  }

  #dish8 {
    animation-delay: 1.2s;
  }

  #dish9 {
    animation-delay: 1.3s;
  }

  @keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }


/********* Desktop min-1024px ***********/

@media (min-width: 1024px) {

    .groupOption {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    .option {
        padding-right: 90px;
    }

    .blocOption {
        display: flex;
        flex-direction: column;
    }

    .containerOption {
        margin: auto;
    }

    .containerCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 100px; padding-right: 100px;
        gap: 50px;
    }

    .groupCard {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }

    .group {
        flex-direction: row-reverse;
        align-items: center;
        gap: 90px;
    }

    footer {
        padding-bottom: 10px;
        padding-top: 50px;
        padding-right: 50px;
    }

    .groupList {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }


    /***********pages ********/

    .section-menu {
        width: 70%;
        margin: auto;
        margin-top: -40px;
    }

    .titleHeart {
        justify-content: center;
        gap: 30px;
    }

    .formule {
        width: 60%;
        margin: auto;
        margin-bottom: 50px;
    }

    .centerSectionTitle h1 {
        font-size: 40px;
        line-height: 50px;
    }


}